body{ margin:0; padding:0; height:100%; background: #D6D6D6;}
::selection{background:#8FB442;color:#FFF}
.imageButton{cursor:pointer;}
.alternRow{background: #D6D6D6;}
.dataDes{text-align:left;}
.hideMe{display:none;}

.prev2019 {background: #FFF;color: #000;font-family: 'DINPro-Regular',Arial;font-weight: normal;font-style: normal;margin: auto;width: 60%;padding:3%;border-radius: 0px;}
.logo { margin: auto;display:block;}
.headerContent{display: table;width: 100%;margin:auto;}
.headerContentstyle{border: 2px solid #8FB442; border-radius: 0px;}

.orderDataRow {display: table-row;}
.orderData {display: table-cell;padding: 6px 20px;}
.leftBorder{border-left: 2px solid #8FB442;}
.orderDataTable {display: table-row-group;}
.optionsBar { margin: auto 15px;text-align:center;padding:1%;}

.prevContent{display: table;width: 100%;margin:auto;border-collapse:collapse;text-align:center;}
.prevDataTable {display: table-row-group;}
.prevDataRow, .prevDataRowCustom {display: table-row;border-bottom: 1px solid #8FB442;}
.columnLabel {background:#8FB442;color:#FFF;}
.prevData {display: table-cell;padding: 20px 5px;vertical-align:middle;}

input {text-align: center;border: none;width:60%;}



@media print {
	body{background: #FFFFFF; }
	.prev2019 {background: #FFF;color: #000;font-family: 'DINPro-Regular',Arial;font-weight: normal;font-style: normal;margin: auto;width: 90%;padding:3%;border-radius: 0px;}
	.hideprint{display:none;}
	.headerContentstyle{border: 2px solid #D6D6D6; border-radius: 0px;}
	.leftBorder{border-left: 2px solid #D6D6D6;}
	.prevDataRow, .prevDataRowCustom {display: table-row;border-bottom: 1px solid #D6D6D6;}
	.columnLabel {background:#D6D6D6;color:#D6D6D6;}	
	.prevData {display: table-cell;padding: 15px 5px;vertical-align:middle;page-break-inside:avoid; page-break-after:auto}
}

.logoDis { text-align: right; width:180px;}


#container {
   min-height:100%;
   position:relative;
}
#header {
   background:#ffffff;
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:90%;
   height:60px;   /* Height of the footer */
   background:#ffffff;
}