/* OGGETTI */

table .a
{
color: #3A4856;
text-decoration: none;
}

a:active, a:selected, a:visited 
{
outline: none;
/* expression(this.hideFocus=true); */
}

font
{
font-size: 11px;
}

td
{
padding: 2px;
/* background-color: #d6d6d6; */
}

img
{
border: 0;
}

a
{
text-decoration: none;
outline:none; 
}

input{
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background: #FFF;
}

body{
  background-color: #666; 
  margin:0;
  padding:0;
  font-size: 15px;
  /* width: 10%; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;		
  vertical-align:text-top;   
}

/******* ID *******/
#wrap {
	width:960px;
	margin: 0px auto;
}

#preventivo{
display: block;
margin: 0px auto;
}


#intestazionePreventivo{
   width: 100%;   
   margin: 0 auto;
   /* padding: 0 0 0 8%; */
   border: 0px solid red; }
   

#subMenuPreventivo{
   right:100px;
   top:392px;
   margin-top:10px;
   padding-bottom:9px;}
   
#infoPreventivo{
   line-height: 20px;    
   width: 100%;
   margin: 0 auto;
   border-collapse: collapse;
   margin-top:10px;
   background-color: #737373;
}

#icons{
background-color:#666;
}


#tabPreventivo{
   float: left;
   width: 99%;   
   margin: -13px auto;
   padding: 0 0 0 8%;
   border: 0px solid red;
}

#tabPreventivoTotale {
float: left;
width: 100%;
margin-top: -25px;
padding-bottom: 50px;
border: 0px solid red;
}

#tabTotale {
   border: 0px solid black;
   line-height: 20px;    
   width: 680px;
   font-weight:bold;
   margin: 0px auto;
   color:#000;  	 
	background-color:b9a176;
}
#tabTotale:hover{
color:#fff!important;
background-color:#000!important;
}

#tabRighe {
   border: 0px solid black;
   line-height: 20px;    
   width: 680px;
}

#tabRighe{
margin: 0px auto; 
}

#tabRighe2 {
   border: 0px solid black;
   line-height: 20px; 
   width: 680px;
   margin-top:50px; 
}

#tabRighe tr{
background-color: #FFF;
}

#totaleInfoPreventivo{
width: 679px;  
height:31px;
margin: 0px auto;
background-color: #A9A9A9; 
}

#imgLogoSmall{	
	float: right;
	width: 100px;
	margin: 5px 20px;
	position: absolute;
}

.Button {
	box-shadow:inset 0px 39px 0px -24px #cab287;
	background-color:#b9a176;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px black;
}

.Button:hover {
	background-color:#a38c64;
}

.Button:active {
	position:relative;
	top:1px;
}


/******* CLASSI *******/


.bordoSx2
{
border-left:0px silver solid;
background-color:#d6d6d6;
}
/* BORDO SINISTRO ELIMINATO*/

.bordoDx2{border-right:1px silver solid;}
.bordoBtm2{border-bottom:1px silver solid;}
.bordoTop2{border-top:1px silver solid;}

.indent{margin-left:10px;}

.label {
   color: #DFCAA9;
   font-weight: bold;
   text-transform: uppercase;
}


.valueView{
   float: left;
   text-align: left;
   color:white;
   font-size:15px;
}


.styleCorsivo {
   font-size: 12px;
   font-style: italic;      
   margin: 0 4px;
}

.styleTitoloBold {   
   font-size: 16px;
   font-weight: 500;
   font-weight: bold;
}
		
.styleTitolo {   
   font-size: 16px;
   font-weight: 500;   
}
		
.styleNormale {
   display: block;
   font-size: 13px;  
   line-height: 22px;
   margin-top: 5px;   
}
    	
.styleNormaleBold {
   display: block;
   font-size: 14px;  
   line-height: 22px; 
   font-weight: bold;  
   width:180px;
}
			
.styleTableHead {
   color: #b9a176;
   padding: 5px 10px;
   font-weight: bold;
   font-size: 13px;
   border: 0px solid #d0d0d0;
}


.a {
   background: inherit;
   cursor: pointer;
   padding: 0;
   text-decoration: none;
}

.a:hover {
   border: 0;
   border-style: none;
   color: #C00
}

.inputDisabled {
   border: 0;       
   font-size: 13px;
   background: white;
   text-align: right;   
   width: 50px;
   background-color: #d6d6d6;
}

.inputEnabled {
   border: 0;   
   background: #FFF;    
   font-size: 13px;
   text-align: right;     
   width: 50px;
}

.inputEnabled2 {
   border: 0;   
   background: #FFF;    
   font-size: 13px;
   width: 260px;
   text-align: left;   
   overflow: auto;
}

.inputDisabled2 {
   border: 0;       
   font-size: 13px;
   background: #d6d6d6;
   text-align: left;
   width: 220px;
   overflow: auto;
}

.flMod {
    width: 7px;
    height: 16px;
    text-decoration: none;
    border: none;
	 margin: 1px;	
    text-align: left;
	background-color:#d6d6d6;
	color: red;
}

.icons2 {
    width: 16px;
    height: 16px;
    text-decoration: none;
    border: none;
	 margin: 2px;
	 padding-top: 5%;
    text-align: left;
}

.row{
	margin: 5px 0;
	float: right;
}

.valueImporto{
	margin: 0;
	font-weight:bold;
	
}

.rappImg{margin: 2px;}



/***** DISEGNO ******* */
  
 
 .labelDis {
   width: 300px;
   line-height: 22px;   
   text-align: left;
   padding-right: 25px;
   font-weight: bold;
   text-transform: uppercase;
}

 .labelDis{
   color: #FFF;}
 
.fotoDis{
   
   margin: 10px 0 0 8%;
   padding: 1px;
   background-color: #E0E0DC; 
   width: 680px;
}

#intestazioneDis{   

margin: 5px 0 0 8%;
padding: 0px;
width: 680px;
}
 
#totaleInfoDis{

   margin: 30px 0 0 8%;
   padding: 5px;
   background-color: #b9a786;
   width: 680px;
}

#infoDis{
   padding: 5px;
   width: 680px;
   margin: 0 auto;
}


#infoDis tr:last-child td {
  border-bottom: 0;
}

.pagei *, .pagei {
	display: none;
}
.addprint {
	width:100%;
	/* height:80px; */
	margin:5px auto;
}
.addprint img {
	/* align:left; */
	padding:0;
	margin:0;
}
.checkboxs {
	width:100%;
}
.checkboxs input {
	width:17%;
	background:#666666;
}
.forprint {
	margin:0;
	padding:0;
	display: none;
}

.tabHead {
	width:100%;
	margin:0 auto;
}
.tabHead table {
	width:100%;
	/*border-collapse: collapse;*/
	/* border:1px silver solid; */
}
.tabHead table thead {
	background: white;
}
#infoPreventivo td {
	background: #737373;
}
.des:first-letter {
	text-transform:uppercase;
}

.hideTr {
	display: none;
}
/* .number, .count {
	 по середине 
} */
#mytable tbody tr, #mytable tbody td {
	background:#d6d6d6;
	border:1px solid silver;
	border-collapse: collapse;
}
.mainT { /* строка тумбы */
	background:#F0F0F0 !important;
	font-weight:bold;
}
.imgBox {
	width:118px;
	float:left;
	border:1px solid #666;
}
.imgBox img {
	width:100%;
}
.imgBox input {
	width:100%;
	padding: 0;
	margin:0;
	background:#666;
}
#footer {
	height:20px;
	width:100%;
}
.classIndent {
   padding: 15px;
}

/* Длинномеры */
.dlinContainer{
   /* width:100%; */
   margin: 0 auto;
   /* padding: 10px 50px; */
   width: 380px;
   background: #d6d6d6;
   font-size: 12px;
   color: black;
   font-weight: normal;
}

.dlinContainer h2 {
   text-align: center;
   padding: 5px 0;
   margin: 0;
}

.dlinContainer .gorLine {
    width:80%; 
   height: 2px;
   background: #666;
    margin: 5px auto; 
}

.dlinContainer .dlinContent {
    padding:1px 40px; 
   margin: 5px auto;
}

.dlinContainer .dlinHead {
   font-size: 16px;
   margin: 5px auto;
   /* width:80%; */
}

.dlinContainer .tabFind, .tabOpt {
   float:left;
   width:49%;
}

.dlinContainer .tabFind .odd, .dlinContainer .tabFind .even {
   border-right: dashed 1px black;
}

/* .dlinContainer .tabOpt .odd, .dlinContainer .tabOpt .even {
    border-left: dashed 1px black; 
} */

.clear {
   clear:both;
}

.dlinContainer p {
   margin: 0px 0;
   padding: 2px 0 2px 2px;
}

.dlinContainer p.odd {
   background: #b7b7b7;
}

.dlinContainer p.even {
   background: #c2c2c2;
}

.dlinContainer .totalBad {
   color: #bb2a2a;
}

.dlinContainer .totalGood {
   color: #77a32b;
}

.dlinContainer button {
   float:right;
   margin: 10px;
}

.leftPos {
   position: absolute;
   left: 10px;
   top: 10px;
   margin: 0;
}



