/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 9px;
    transition: 0.3s;
	text-transform: uppercase;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 18px;
    border: 1px solid #ccc;
    border-top: none;
	background-color: rgba(42,42,42,0.4);
	margin:0;
}

a {
	color:#2A2A29;
	text-transform: uppercase;
	text-decoration: none;
}

a:hover {
	color:#655800;
}

#logo {
	display:block;
	margin:0 auto;
}

.logo {
	width:100%;
	height:140px;
}

body {
	background: #FFF4B0 url("../images/logo-small-white.png");
	margin:0;
}

.imgContent {
	width:100%;
}

#msg {
	position:fixed;
	font: sans-serif;
	font-size:15px;
	color:#fff;
	background: rgba(42,42,42, 0.7);
	padding: 7px 10px;
	left: 10px;
	bottom: 10px;
	margin:0;
}
