.detbl
{
direction:ltr; border-spacing:0px;
border-collapse: collapse;
border: 0px none black;
}
.de_list
{
margin: 0;padding: 0;
}
div.p
{
margin-top:0px;
margin-bottom:0px;
font-weight:normal;
}

div.description_on_page div.p,
 div.description_on_page div.p a,
 .m-pageContent__side__header div.p,
 .m-pageContent__side__header div.p a,
 .m-pageContent__side__footer div.p,
 .m-pageContent__side__footer div.p a,
 .m-pageContent__side__right div.p,
 .m-pageContent__side__right div.p a,
 .m-pageContent__side__left div.p,
 .m-pageContent__side__left div.p a
{
font-family:"Arial";
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
h1
{
font-family:"Arial";
font-size: 13pt;color:#375db0;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline;
margin:0;
padding:0;
}
h2
{
font-family:"Arial";
font-size: 11pt;color:#4f87fd;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline;
margin:0;
padding:0;
}
span.code
{
font-family:"Courier New";
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
span.quote
{
font-family:"Georgia";
font-size: 11pt;color:#000000;
font-style:italic;
text-decoration:none;
font-weight:normal;
}
span.New_normal
{
font-family:"Arial";
font-size: 11pt;color:#008aff;
font-style:normal;
text-decoration:underline;
font-weight:normal;
}
span.Button
{
font-family:"Arial";
font-size: 11pt;color:#3f3f3f;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
span.Alarm
{
font-family:"Arial";
font-size: 11pt;color:#ff3600;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
img.de_75F9C4A440
{
margin-top: 3px; margin-right: 3px; margin-bottom: 3px; margin-left: 3px;}
img.de_780D01ADE8
{
margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;}
span.de_0ACFC303D0
{
	font-family: "Liberation Serif";
	font-size: 12pt;
	color:#000000;
}
span.de_2B94C39861
{
	color:#0000ff;
	text-decoration:underline;
}
span.de_345DF2017C
{
	font-family: "Arial";
	font-size: 10pt;
	color:#333333;
}
span.de_45105D3361
{
	font-family: "Arial";
	font-size: 11pt;
	color:#000000;
	text-decoration:underline;
}
span.de_476D3D315E
{
	text-decoration:underline;
}
span.de_4AF4BF9DD6
{
	font-family: "Arial";
	font-size: 11pt;
	color:#000000;
}
span.de_51752156DC
{
	color:#000000;
}
span.de_56F4564E24
{
	font-family: "Arial";
	font-size: 12pt;
	color:#000000;
}
span.de_59A3B2E3FF
{
	font-family: "Times New Roman";
	font-size: 7pt;
	color:#000000;
}
span.de_67BC475A8E
{
	font-family: "Calibri";
	font-size: 10pt;
	color:#000000;
}
span.de_6B7F0857AE
{
	font-family: "Calibri";
	font-size: 14pt;
	color:#000000;
}
span.de_75D1729D2E
{
	color:#0000ff;
}
span.de_87C8AF169F
{
	font-family: "Calibri";
	font-size: 12pt;
	color:#0000ff;
	text-decoration:underline;
}
span.de_8C403700ED
{
	font-family: "Arial";
	font-size: 11pt;
}
span.de_C066CF42C1
{
	font-family: "Wingdings";
	font-size: 14pt;
	color:#000000;
}
span.de_CC7DAF531E
{
	font-family: "Arial";
	font-size: 10pt;
	color:#000000;
}
span.de_D8BCB2AC4C
{
	font-family: "Calibri";
	font-size: 12pt;
	color:#000000;
}
span.de_E5E12802F8
{
	font-family: "Liberation Serif";
	font-size: 14pt;
	color:#000000;
}
span.de_FF666D75DC
{
	font-family: "Calibri";
	font-size: 20pt;
	color:#000000;
}
span.de_FFB638AC42
{
	font-size: 11pt;
}
.list-element {
	list-style-type: none;
}
.list-counter-0 > div > * {
	text-indent: 0px;}
.list-counter-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-0, decimal) '.\00a0';
	counter-increment: list-counter-0;
}
.list-counter-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-1 > div > * {
	text-indent: 0px;}
.list-counter-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-1, decimal) '.\00a0';
	counter-increment: list-counter-1;
}
.list-counter-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-2 > div > * {
	text-indent: 0px;}
.list-counter-2 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-2, disc) '\00a0';
	counter-increment: list-counter-2;
}
.list-counter-2 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
